rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null && request.auth.uid == resource.data.userId;
    }

    function isOwnerOnCreate() {
      return request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    match /projects/{docId} {
      allow read, update, delete: if isOwner();
      allow create: if isOwnerOnCreate();
    }

    match /project_contacts/{docId} {
      allow read, update, delete: if isOwner();
      allow create: if isOwnerOnCreate();
    }

    match /parties/{docId} {
      allow read, update, delete: if isOwner();
      allow create: if isOwnerOnCreate();
    }

    match /project_parties/{docId} {
      allow read, update, delete: if isOwner();
      allow create: if isOwnerOnCreate();
    }

    match /transactions/{docId} {
      allow read, update, delete: if isOwner();
      allow create: if isOwnerOnCreate();
    }
  }
}
